<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo Chat</title>

    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css" />
  </head>
  <body>

  <div id="wrapper">

    <div id="loginForm">
      <h3>FAKE NEW DETECTION</h3>
      <input type="text" id="txtPostMessage" />
      <input type="text" id="txtTimeStamp" />
      <input type="text" id="txtNumLike" />
      <input type="text" id="txtNumComment" />
      <input type="text" id="txtNumShare" />
      <input type="button" value="CHECK RESULT" id="btnCheck" />
      <input type="text" id="txtResult" />
    </div>

    <!-- <div id="chatForm">
      <div id="left">
        <div id="boxTitle">Users Online</div>
        <div id="boxContent"></div>
      </div>
      <div id="right">
        <div id="sayHi">
          Hello <span id="currentUser">Teo</span>
          <input type="button" id="btnLogout" value="Logout">
        </div>

        <div id="listMessages">
        </div>

        <div id="thongbao"></div>

        <input type="text" id="txtMessage" />
        <input type="button" id="btnSendMessage" value="Send" />

      </div> -->
    </div>

  </div>

  </body>
</html>
